
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div class="container">
      <div class="row">
    <div class="col-xl-4 col-lg-5 col-md-6 col-sm-12">
      <% if (messages.info) { %>
      <div class="alert alert-danger"> <%= messages.info %></div>
      <% } else{ %>
  
      <% }  %>
  
    
    <a href="/logout">Logout</a>
</div>
 </div>
<br>
    <div class="container">
    <div class="row">

	

<table class="table table-bordered table-dark table-striped text-center">
<thead class="bg-success">
<tr >
<th> Name</th>
<th  style="width:800px">View Directory</th>
<tr>
	</thead>

<tr>
<td>sign in</td>
<td style="width:800px">
view -- view->index(pc)->mob_index(mobile)
</td>
</tr>

<tr>
<td>Sidebar </td>
<td style="width:800px">
 view->templates->sideBar.ejs
</td>
</tr>

<tr>
<td>WorkFreeli Notification(s)</td>
<td style="width:800px">
public/javascript/basic_connect.js
</td>
</tr>

<tr>
<td>Conversation(s)</td>
<td style="width:800px">
view/templates/sidebar.ejs
</td>
</tr>


<tr>
<td>Conversation(s)->create Room->Direct Message</td>
<td style="width:800px">
view/layouts/basic_foot.ejs
</td>
</tr>

<tr>
<td>Conversation(s) Page  / (Public Rooms)</td>
<td style="width:800px">
views/layouts/b_connect/joinChannelPanel.ejs
</td>
</tr>

<tr>
<td>Conversation(s) / Create a Rooms </td>
<td style="width:800px">
views/layouts/b_connect/createChannelContainer.ejs
</td>
</tr>

<tr>
<td>Conversation(s) / Direct Massage    </td>
<td style="width:800px">
views/ basic_calendar.html
</td>
</tr>

<tr>
<td>Topbar... Log Setting </td>
<td style="width:800px">
views/layouts/b_connect/createChannelContainer.ejs
</td>
</tr>

<tr>
<td> Admin Settings (User Management)  </td>
<td style="width:800px">
views/workspace.html
</td>
</tr>



</table>


</p>

    </div>	
<div>
	



</div>
</div>





   


